page-comment-modal {
    background: #f4f4f4;

    ion-card {
  
      .post-detail-img{
  
        max-height: 25vh;
        object-fit: contain;
      }
    }
  
     .scroll-content {
  
      padding: 0 !important;
  
    }
}
