page-profile-settings-modal {
    .setting-input-box{
        padding: 0;
        font-size: 14px;
        border-bottom: 1px solid #eee;
      }
      ion-col{
         display: inline-block;
       }
}
