page-user-follow-info-modal {
    ion-searchbar{
        width: 100%;
        border: none;
        background: transparent!important;
      }
      ion-col{
        display: inline-block;
      }
      .searchbar-search-icon{
        top:10px!important;
      }
}
